<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/bootstrap-4/css/bootstrap.min.css" />
	<title>Loan App</title>
</head>
<body>
	<%- include ("./partials/navbar") %>
	<main class="container">
		<div class="row mt-5">
			<div class="col-sm-12 col-md-3 col-lg-3 col-xl-4"></div>
			<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 text-center" style="margin-top: 7rem;">
				<div class="card">
					<div class="card-body">
						<h1 class="text-uppercase mb-4">Loan App</h1>
						<% if(data.error){ %>
						<div class="alert alert-danger">
							<%= data.message %>
						</div>
						<% } else if(data.error === false) { %>
						<div class="alert alert-success">
							<%= data.message %>
						</div>
						<% } %>
						<form method="POST" action="/user/create-loan">
							<div class="form-group">
								<input type="number" class="form-control" name="amount_requested" placeholder="Enter loan amount" />
								<input type="hidden" class="form-control" name="owner" value="Adee" placeholder="Owner" />
								<input type="hidden" class="form-control" name="email" value="ade@mail.com" placeholder="Email" />
							</div>
							<div class="text-center">
								<button class="btn btn-primary btn-block">Request Loan</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3 col-lg-3 col-xl-4"></div>
		</div>
	</main>

	<script type="text/javascript" src="/bootstrap-4/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/bootstrap-4/js/popper.js"></script>
	<script type="text/javascript" src="/bootstrap-4/js/bootstrap.js"></script>
</body>
</html